#header {
	padding-top:1em;
	padding-left:1.2em;
	display:flex;
	justify-content:space-between;
	padding-bottom:1em;
}
.header-right {
	display:flex;
	align-items:center;
}
.logo {
	height:3em;
	width:3em;
}
.profile-nav {
	height:2.5em;
	width:2.5em;
	padding-right:1em;
}
.create-nav {
	height:34px;
	width:34px;
	padding-right:1em;
}
.nft-nav {
	height:34px;
	width:34px;
	padding-right:1em;
}