#header {
	padding:1em 4em;
	display:flex;
	justify-content:space-between;
}
.header-right {
	display:flex;
	align-items:center;
}
.logo {
	height:3em;
	width:3em;
}
.profile-nav {
	height:2.5em;
	width:2.5em;
	padding-right:1em;
}
.create-nav {
	height:34px;
	width:34px;
	padding-right:1em;
}
.nft-nav {
	height:34px;
	width:34px;
	padding-right:1em;
}

/* On screens that are 550px or less, lower the header padding */
@media screen and (max-width: 550px) {
  #header {
		padding: 1em 1em;
  }
}