.app {
  text-align: center;
  background-image: radial-gradient(circle, #21024e, black);
  min-height: 100vh;
  display: flex;
	flex-direction: column;
	color:white;
	font-family: 'UniviaPro-Book';
}
@font-face {
  font-family: 'black-tie';
  src: local('./assets/fonts/black-tie-regular.woff'), url(./assets/fonts/black-tie-regular.woff) format('woff');
}
@font-face {
	font-family: 'UniviaPro-Book';
	src: local('./assets/fonts/UniviaPro-Book.woff2'), url(./assets/fonts/UniviaPro-Book.woff2) format('woff2');
}
.body {
	display:flex;
	position:relative;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100%;
}
.nft_container {
	width:700px;
}
.nft_bid_accept {
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.title {
	margin:24px 0px 32px 0px;
	color:white;
	text-shadow:2px 4px 6px black;
}
.tshadow {
	text-shadow:2px 4px 6px black;
}
.noLink {
	text-decoration:none;
}
.nft-btn {
	padding:1em;
	margin:1em 0;
	width:100%;
	background-color:#6306e6;
	border-radius:28px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	font-family: 'UniviaPro-Book';
}
.nft-btn:focus {
  outline:none;
}
.nft-btn:hover {
	background-color:#539bff;
}
.nft-btn:active {
	position:relative;
	top:1px;
}
.accept_btn {
	background-color:#006aff;
	padding:1em 3em;
}
.z-btn {
	width:100%;
	background-color:#1b191d;
	border-radius:28px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	margin:16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	font-family: 'UniviaPro-Book';
}

.bid_form {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;

  /* I've used padding so you can see the edges of the elements. */
  padding:2px;
}

.bid_input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
	border:none;
	margin:17px 0;
	border-radius:2em 0 0 2em;
	padding:3px 0 0 1.5em;
	font-size:1em;
	font-family: 'UniviaPro-Book';
}

.bid_btn {
	border-radius:0 2em 2em 0;
	margin:1em 1em 1em 0;
}

.bid_input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

.testainer {
	color:white;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.profile-popover {
	position:fixed;
	top:0;
	left:0;
	min-width:100vw;
	min-height:100vh;
	z-index:3;
	display:flex;
	align-items:center;
	justify-content:center;
	backdrop-filter: blur(10px);
}
.profile-popover-body {
	opacity:0.9;
	background-color:black;
	border:1px solid white;
	border-radius:1em;
	min-width:90vw;
	min-height:95vh;
	margin-right:1em;
	box-shadow: 4px 6px 17px 0px rgba(0, 0, 0, 0.45),
							0px 0px 4px white inset;
}
.profile-popover-top {
	padding:1em;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.profile-popover-title {
	color:white;
	text-shadow: 0 0 3px white;
	font-size:1.6em;
	padding-left:0.5em;
}
.profile-popover-x {
	width:2.5em;
	height:2.5em;
	text-shadow: 0 0 3px white;
}
.profile-popover-x:hover {
	cursor:pointer;
}
.profile-popover-hr {
	margin:0 1.5em;
}